/*.aux
/*.glo
/*.idx
/*.log
/*.toc
/*.ist
/*.acn
/*.acr
/*.alg
/*.bbl
/*.blg
/*.dvi
/*.glg
/*.gls
/*.ilg
/*.ind
/*.lof
/*.lot
/*.maf
/*.mtc
/*.mtc1
/*.out
/*.fls
/*.log
/*.fdb_latexmk
/*.synctex.gz
/how-to-write-paper.pdf
